<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724506855418-k3kbkoo1fe838f7f0fibaunkchdbq078.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724506855418-k3kbkoo1fe838f7f0fibaunkchdbq078</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>724506855418-80f43ksa94lglhn8dmc0fb79dcmopbph.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWk7_E4y5e5bf4FbhOPz_3RuaJ7ACBXm0</string>
	<key>GCM_SENDER_ID</key>
	<string>724506855418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techwaplimited.gofernet</string>
	<key>PROJECT_ID</key>
	<string>gofernet</string>
	<key>STORAGE_BUCKET</key>
	<string>gofernet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724506855418:ios:508f15bea8996af03a0643</string>
	<key>DATABASE_URL</key>
	<string>https://gofernet-default-rtdb.firebaseio.com</string>
</dict>
</plist>